body,
html {
  overflow-x: hidden;
  font-family: "Montserrat";
}
body.overflow,
html.overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.wrapper {
  max-width: 1960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-navigation button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(59, 59, 59, 0.4);
  backdrop-filter: blur(4px);
  z-index: 10;
}
@media (max-width: 767px) {
  .slider-navigation button {
    width: 34px;
    height: 34px;
  }
  .slider-navigation button img {
    width: 14px;
  }
}
.slider-navigation button:before {
  content: none;
}
.slider-navigation button.slick-next {
  right: 10px;
}
.slider-navigation button.slick-prev {
  left: 10px;
}
.slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
header .wrapper {
  background: white;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
@media (max-width: 1024px) {
  header .wrapper {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  header .wrapper {
    padding: 20px 15px;
  }
}
header .wrapper .logo {
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1400px) {
  header .wrapper .logo {
    margin-right: 40px;
  }
}
@media (max-width: 1024px) {
  header .wrapper .logo {
    margin-right: 20px;
  }
}
@media (max-width: 1400px) {
  header .wrapper .logo img {
    width: 150px;
  }
}
@media (max-width: 1024px) {
  header .wrapper .logo img {
    width: 130px;
  }
}
@media (max-width: 767px) {
  header .wrapper .logo img {
    width: 100px;
  }
}
header .wrapper .logo-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  header .wrapper .logo-texts {
    display: none;
  }
}
header .wrapper .logo-texts .text {
  font-size: 26px;
  color: #757575;
}
@media (max-width: 1400px) {
  header .wrapper .logo-texts .text {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  header .wrapper .logo-texts .text {
    font-size: 16px;
  }
}
header .wrapper .logo-texts .purple {
  font-size: 46px;
  color: #6e1485;
}
@media (max-width: 1400px) {
  header .wrapper .logo-texts .purple {
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  header .wrapper .logo-texts .purple {
    font-size: 28px;
  }
}
header .wrapper .join {
  padding: 10px 30px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  background: #a901b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  max-width: 480px;
  width: 100%;
  top: 0;
  right: 20px;
  z-index: 1;
}
@media (max-width: 1400px) {
  header .wrapper .join {
    max-width: 400px;
    padding: 10px 20px;
  }
}
@media (max-width: 1024px) {
  header .wrapper .join {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  header .wrapper .join {
    max-width: 210px;
    padding: 10px 15px;
  }
}
header .wrapper .join img {
  margin-right: 30px;
}
@media (max-width: 1400px) {
  header .wrapper .join img {
    margin-right: 20px;
    width: 60px;
  }
}
@media (max-width: 1024px) {
  header .wrapper .join img {
    width: 40px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  header .wrapper .join img {
    width: 24px;
  }
}
header .wrapper .join span {
  font-weight: bold;
  color: white;
  font-size: 26px;
  max-width: 260px;
}
@media (max-width: 1024px) {
  header .wrapper .join span {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  header .wrapper .join span {
    font-size: 14px;
  }
}

.banner {
  width: 100%;
  height: 890px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}
@media (max-width: 1920px) {
  .banner {
    height: 46vw;
  }
}
@media (max-width: 1400px) {
  .banner {
    height: 50vw;
  }
}
@media (max-width: 1024px) {
  .banner {
    height: 55vw;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 70vw;
  }
}
.banner .style {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 20px 30px 20px 70px;
  border-radius: 0 24px 24px 0;
  background: #ab00b4;
  max-width: 700px;
}
@media (max-width: 1400px) {
  .banner .style {
    max-width: 550px;
    padding-left: 40px;
  }
}
@media (max-width: 1024px) {
  .banner .style {
    max-width: 380px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .banner .style {
    padding: 10px;
    max-width: 270px;
    border-radius: 0 14px 14px 0;
    top: 20px;
  }
}
.banner .style p {
  font-size: 32px;
  color: white;
}
@media (max-width: 1400px) {
  .banner .style p {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .banner .style p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .banner .style p {
    font-size: 13px;
  }
}

.inspire-succeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.inspire-succeed img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1500px) {
  .inspire-succeed img {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .inspire-succeed img {
    width: 30%;
  }
}
.inspire-succeed span {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  color: #541b5e;
}
@media (max-width: 1750px) {
  .inspire-succeed span {
    font-size: 40px;
  }
}
@media (max-width: 1500px) {
  .inspire-succeed span {
    width: 33%;
    font-size: 34px;
  }
}
@media (max-width: 1024px) {
  .inspire-succeed span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .inspire-succeed span {
    width: 40%;
    font-size: 16px;
    padding: 0 10px;
  }
}

footer {
  background: #c701d4;
  padding: 50px 15px;
  min-height: 550px;
  position: relative;
  z-index: 0;
}
@media (max-width: 1600px) {
  footer {
    min-height: 400px;
  }
}
@media (max-width: 767px) {
  footer {
    min-height: auto;
  }
}
@media (max-width: 767px) {
  footer .wrapper {
    text-align: center;
  }
}
footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  footer .footer-logo {
    width: 110px;
    margin-bottom: 50px;
  }
}
footer .footer-logo img {
  max-width: 100%;
  max-height: 100%;
}
footer .back {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  color: #43194f;
  font-size: 40px;
  border-bottom: 1px solid #43194f;
}
@media (max-width: 767px) {
  footer .back {
    font-size: 20px;
    position: static;
    transform: translateX(0);
    margin-top: auto;
    text-align: center;
  }
}
footer .back:hover {
  border-color: transparent;
}

.history-community {
  margin: 200px 0;
}
@media (max-width: 1600px) {
  .history-community {
    margin: 150px 0;
  }
}
@media (max-width: 1024px) {
  .history-community {
    margin: 100px 0;
  }
}
@media (max-width: 767px) {
  .history-community {
    margin: 80px 0 30px;
  }
}
.history-community .wrapper h2 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 60px;
  font-weight: 600;
  color: #491457;
}
@media (max-width: 1024px) {
  .history-community .wrapper h2 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .history-community .wrapper h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.history-community .wrapper .history-community-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .history-community .wrapper .history-community-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.history-community .wrapper .history-community-info .texts {
  border-radius: 50px;
  width: 45%;
  padding: 50px;
  padding-right: 30px;
  background: #fff8ff;
  -webkit-box-shadow: 0px 10px 22px 0px rgba(74, 20, 87, 0.25);
  -moz-box-shadow: 0px 10px 22px 0px rgba(74, 20, 87, 0.25);
  box-shadow: 0px 10px 22px 0px rgba(74, 20, 87, 0.25);
}
@media (max-width: 1600px) {
  .history-community .wrapper .history-community-info .texts {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .history-community .wrapper .history-community-info .texts {
    width: 100%;
    padding: 40px 30px;
    border-radius: 30px;
  }
}
@media (max-width: 767px) {
  .history-community .wrapper .history-community-info .texts {
    padding: 30px 20px;
    border-radius: 20px;
  }
}
.history-community .wrapper .history-community-info .texts p {
  font-size: 32px;
  font-weight: 600;
  color: #541b5e;
  margin-bottom: 40px;
  max-width: 770px;
}
@media (max-width: 1024px) {
  .history-community .wrapper .history-community-info .texts p {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .history-community .wrapper .history-community-info .texts p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.history-community .wrapper .history-community-info .images {
  width: 55%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1600px) {
  .history-community .wrapper .history-community-info .images {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .history-community .wrapper .history-community-info .images {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .history-community .wrapper .history-community-info .images {
    padding: 40px 90px 0;
  }
}
.history-community .wrapper .history-community-info .images img {
  max-width: 100%;
  max-height: 100%;
}
.history-community .wrapper .history-community-info .images img.logo1 {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .history-community .wrapper .history-community-info .images img.logo1 {
    margin-bottom: 30px;
  }
}
.history-community .wrapper .history-community-info .images img.logo3 {
  margin-top: -30px;
}
@media (max-width: 767px) {
  .history-community .wrapper .history-community-info .images img.logo3 {
    margin-top: 0;
  }
}

.purple-btn {
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 30px;
  color: white;
  background: #6c1482;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .purple-btn {
    font-size: 16px;
    padding: 20px;
  }
}
.purple-btn:hover {
  background: #8619a1;
}

.fill-form {
  margin: 100px 0;
}
@media (max-width: 767px) {
  .fill-form {
    margin: 0;
  }
}
.fill-form .wrapper h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: #4a1457;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .fill-form .wrapper h2 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .fill-form .wrapper h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.fill-form .wrapper > p {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  color: #541b5e;
  max-width: 1000px;
  margin: 130px auto 0;
  width: 100%;
}
@media (max-width: 767px) {
  .fill-form .wrapper > p {
    margin-top: 40px;
    font-size: 24px;
  }
}
.fill-form .wrapper form {
  position: relative;
  z-index: 0;
  max-width: 1594px;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
}
@media (max-width: 767px) {
  .fill-form .wrapper form {
    padding-top: 0;
  }
}
.fill-form .wrapper form .bg {
  position: absolute;
  top: 0;
  left: 50.2%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 767px) {
  .fill-form .wrapper form .bg {
    display: none;
  }
}
.fill-form .wrapper form .inputs {
  border-radius: 30px;
  background: white;
  padding: 60px 50px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .fill-form .wrapper form .inputs {
    padding: 30px 0px;
  }
}
.fill-form .wrapper form .inputs input {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #a5a5a5;
  font-size: 26px;
  padding: 0 15px;
  color: #000;
}
.fill-form .wrapper form .inputs input::-webkit-input-placeholder {
  font-size: 26px;
  color: #a5a5a5;
}
.fill-form .wrapper form .inputs input::-moz-placeholder {
  font-size: 26px;
  color: #a5a5a5;
}
.fill-form .wrapper form .inputs input:-ms-input-placeholder {
  font-size: 26px;
  color: #a5a5a5;
}
.fill-form .wrapper form .inputs input:-moz-placeholder {
  font-size: 26px;
  color: #a5a5a5;
}
@media (max-width: 767px) {
  .fill-form .wrapper form .inputs input {
    font-size: 20px;
    height: 60px;
    border-radius: 14px;
  }
  .fill-form .wrapper form .inputs input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .fill-form .wrapper form .inputs input::-moz-placeholder {
    font-size: 20px;
  }
  .fill-form .wrapper form .inputs input:-ms-input-placeholder {
    font-size: 20px;
  }
  .fill-form .wrapper form .inputs input:-moz-placeholder {
    font-size: 20px;
  }
}
.fill-form .wrapper form button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fe36e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 30px auto 0;
  border: 10px solid #fff;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .fill-form .wrapper form button {
    margin-top: 0;
  }
}
.fill-form .wrapper form button:hover {
  border-color: #fe36e4;
  background: white;
  color: #fe36e4;
}

.community {
  margin: 100px 0;
}
@media (max-width: 767px) {
  .community {
    margin: 50px 0;
  }
}
.community .wrapper h2 {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 64px;
  color: #4a1457;
}
@media (max-width: 1500px) {
  .community .wrapper h2 {
    font-size: 50px;
    margin-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .community .wrapper h2 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .community .wrapper h2 {
    margin-bottom: 30px;
  }
}
.community .wrapper .community-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .community .wrapper .community-list {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.community .wrapper .community-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 380px;
  position: relative;
}
@media (max-width: 1500px) {
  .community .wrapper .community-list li {
    max-width: 270px;
  }
}
@media (max-width: 767px) {
  .community .wrapper .community-list li {
    width: 50%;
    margin-bottom: 20px;
  }
}
.community .wrapper .community-list li:after {
  content: "";
  background: url(../img/black-arr.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 113px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  right: -120px;
}
@media (max-width: 1800px) {
  .community .wrapper .community-list li:after {
    right: -4vw;
    width: 80px;
    height: 42px;
  }
}
@media (max-width: 1500px) {
  .community .wrapper .community-list li:after {
    width: 60px;
    height: 31px;
  }
}
@media (max-width: 1024px) {
  .community .wrapper .community-list li:after {
    content: none;
  }
}
.community .wrapper .community-list li:last-child:after {
  content: none;
}
.community .wrapper .community-list li .text {
  font-size: 40px;
  color: #4a1457;
  text-align: center;
}
@media (max-width: 1500px) {
  .community .wrapper .community-list li .text {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .community .wrapper .community-list li .text {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .community .wrapper .community-list li .text {
    max-width: 190px;
    font-size: 20px;
  }
}
.community .wrapper .community-list li .circle {
  border-radius: 50%;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background: #541b5e;
}
@media (max-width: 1500px) {
  .community .wrapper .community-list li .circle {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1024px) {
  .community .wrapper .community-list li .circle {
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }
}
.community .wrapper .community-list li .circle.circle2 {
  background: #d000da;
}
.community .wrapper .community-list li .circle.circle3 {
  background: #f675ff;
}
.community .wrapper .community-list li .circle.circle4 {
  background: #fca8ff;
}

.info-wrapper .info-item {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
  .info-wrapper .info-item {
    grid-template-columns: 1fr;
  }
  .info-wrapper .info-item.reverce {
    flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.info-wrapper .info-item .img-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}
@media (max-width: 1400px) {
  .info-wrapper .info-item .img-wrap {
    height: 420px;
  }
}
@media (max-width: 1024px) {
  .info-wrapper .info-item .img-wrap {
    height: 320px;
  }
}
.info-wrapper .info-item .text-wrap {
  padding: 70px;
  background: #d000da;
  text-align: center;
}
@media (max-width: 1400px) {
  .info-wrapper .info-item .text-wrap {
    padding: 50px 30px;
  }
}
@media (max-width: 1024px) {
  .info-wrapper .info-item .text-wrap {
    padding: 40px 20px;
  }
}
.info-wrapper .info-item .text-wrap.blue {
  background: #1344bf;
}
.info-wrapper .info-item .text-wrap .title {
  padding-bottom: 40px;
  color: white;
  font-size: 60px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  display: inline-block;
  margin-bottom: 80px;
}
@media (max-width: 1750px) {
  .info-wrapper .info-item .text-wrap .title {
    font-size: 44px;
  }
}
@media (max-width: 1400px) {
  .info-wrapper .info-item .text-wrap .title {
    font-size: 34px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .info-wrapper .info-item .text-wrap .title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .info-wrapper .info-item .text-wrap .title {
    margin-bottom: 30px;
  }
}
.info-wrapper .info-item .text-wrap ul {
  text-align: left;
  column-count: 2;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1750px) {
  .info-wrapper .info-item .text-wrap ul {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .info-wrapper .info-item .text-wrap ul {
    column-count: 1;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .info-wrapper .info-item .text-wrap ul li {
    margin-bottom: 5px;
  }
}
.info-wrapper .info-item .text-wrap ul li a {
  font-size: 32px;
  color: white;
  text-decoration: underline;
}
@media (max-width: 1750px) {
  .info-wrapper .info-item .text-wrap ul li a {
    font-size: 28px;
    padding-right: 10px;
  }
}
@media (max-width: 1400px) {
  .info-wrapper .info-item .text-wrap ul li a {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .info-wrapper .info-item .text-wrap ul li a {
    font-size: 16px;
  }
}

.slick-dots {
  bottom: -50px;
}
@media (max-width: 500px) {
  .slick-dots {
    bottom: -30px;
  }
}
.slick-dots li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
}
@media (max-width: 500px) {
  .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }
}
.slick-dots li button {
  width: 210px;
  height: 20px;
  opacity: 1;
}
@media (max-width: 500px) {
  .slick-dots li button {
    width: 16px;
    height: 16px;
  }
}
.slick-dots li button:before {
  content: "";
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 50%;
  transition: 0.3s;
  background: #d9d9d9;
}
@media (max-width: 500px) {
  .slick-dots li button:before {
    width: 16px;
    height: 16px;
  }
}
.slick-dots li.slick-active button:before {
  background: #541b5e;
}

.news {
  margin: 120px 0;
}
@media (max-width: 1200px) {
  .news {
    margin: 60px 0 80px;
  }
}
.news .wrapper {
  max-width: 1600px;
}
.news .wrapper h2 {
  text-align: center;
  color: #491457;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 120px;
}
@media (max-width: 1200px) {
  .news .wrapper h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .news .wrapper h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .news .wrapper h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.news .wrapper .news-slider {
  margin-bottom: 0;
}
.news .wrapper .news-slider .slick-list {
  margin: 0 -70px;
}
@media (max-width: 1500px) {
  .news .wrapper .news-slider .slick-list {
    margin: 0 -10px;
  }
}
@media (max-width: 500px) {
  .news .wrapper .news-slider .slick-list {
    margin: 0;
  }
}
.news .wrapper .news-slider .item {
  margin: 0 70px;
}
@media (max-width: 1500px) {
  .news .wrapper .news-slider .item {
    margin: 0 10px;
  }
}
@media (max-width: 500px) {
  .news .wrapper .news-slider .item {
    margin: 0;
  }
}
.news .wrapper .news-slider .item .img-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  height: 320px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  border-bottom: 10px solid #541b5e;
}
@media (max-width: 1500px) {
  .news .wrapper .news-slider .item .img-wrap {
    height: 23vw;
  }
}
@media (max-width: 767px) {
  .news .wrapper .news-slider .item .img-wrap {
    height: 35vw;
  }
}
@media (max-width: 500px) {
  .news .wrapper .news-slider .item .img-wrap {
    height: 66vw;
  }
}
.news .wrapper .news-slider .item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news .wrapper .news-slider .item .text-wrap {
  padding: 30px;
}
@media (max-width: 1200px) {
  .news .wrapper .news-slider .item .text-wrap {
    padding: 20px;
  }
}
.news .wrapper .news-slider .item .text-wrap .date {
  font-size: 24px;
  color: #707070;
  margin-bottom: 30px;
  display: block;
}
@media (max-width: 1200px) {
  .news .wrapper .news-slider .item .text-wrap .date {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.news .wrapper .news-slider .item .text-wrap p {
  margin-bottom: 24px;
  font-size: 24px;
  color: #541b5e;
  max-width: 350px;
}
@media (max-width: 1200px) {
  .news .wrapper .news-slider .item .text-wrap p {
    font-size: 20px;
  }
}
.news .wrapper .news-slider .item .text-wrap .more {
  border-radius: 15px;
  border: 2px solid #541b5e;
  padding: 20px 30px;
  color: #693772;
  font-size: 24px;
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .news .wrapper .news-slider .item .text-wrap .more {
    font-size: 20px;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .news .wrapper .news-slider .item .text-wrap .more {
    padding: 15px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
